:host{
  display: block;
  width:100%;
  height: 100%;
  background-color: red;
  padding-top: 54px;
  padding-bottom: 58px;
}

#wrapper{
  width: 100%;
  height: 100%;
}


#book
{
  display: block;
  width: 1474px;
  height: 1020px;
  border: 10px solid #19375f;
  background: pink;
  margin: -510px -737px;
  top:50%;
  left: 50%;
  position: absolute;
}
